[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-allauth = "*"
urllib3 = "<2"
pyjwt = "*"
cryptography = "*"
psycopg2-binary = "*"
requests = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
pyupgrade = "*"
pre-commit = "*"

[requires]
python_version = "3.12"